$family-1: 'arial', sans-serif;
$family-2: 'arial', sans-serif;

$f-7xs: 0.5rem; // 8px
$f-6xs: 0.5625rem; // 9px
$f-5xs: 0.625rem; // 10px
$f-4xs: 0.6875rem; // 11px
$f-3xs: .75rem; // 12px
$f-2xs: .8125rem; // 13px
$f-xs: .875rem; // 14px
$f-sm: .9375rem; // 15px
$f-base: 1rem; // 16px
$f-lg: 1.125rem; // 18px
$f-xl: 1.1875rem; // 19px
$f-2xl: 1.25rem; // 20px
$f-3xl: 1.375rem; // 22px
$f-4xl: 1.5rem; // 24px
$f-5xl: 1.625rem; // 26px
$f-6xl: 1.75rem; // 28px
$f-7xl: 2.125rem; // 34px
$f-8xl: 2.5rem; // 40px
$f-9xl: 2.625rem; // 42px
$f-10xl: 3rem; // 48px
$f-11xl: 3.25rem; // 52px
$f-12xl: 4rem; // 64px

$l-7xs: .75rem; // 12px
$l-6xs: .8125rem; // 13px
$l-5xs: .875rem; // 14px
$l-4xs: .9375rem; // 15px
$l-3xs: 1rem; // 16px
$l-2xs: 1.0625rem; // 17px
$l-xs: 1.125rem; // 18px
$l-sm: 1.1875rem; // 19px
$l-base: 1.375rem; // 22px
$l-lg: 1.5rem; // 24px
$l-xl: 1.625rem; // 26px
$l-2xl: 1.75rem; // 28px
$l-3xl: 1.875rem; // 30px
$l-4xl: 2rem; // 32px
$l-5xl: 2.125rem; // 34px
$l-6xl: 2.25rem; // 36px
$l-7xl: 2.5rem; // 40px
$l-8xl: 3rem; // 48px
$l-9xl: 3.125rem; // 50px
$l-10xl: 3.375rem; // 54px
$l-11xl: 3.625rem; // 58px
$l-12xl: 4.5rem; // 72px

$f-primary: #2c8eff;
$f-secondary: #ebebeb;
$f-light: #f1f1f1;
$f-dark: #1e1e1e;
$f-success: #0f3;
$f-error: #ff2d2d;

$b-primary: #2c8eff;
$b-secondary: #ebebeb;
$b-light: #f1f1f1;
$b-dark: #1e1e1e;
$b-success: #0f3;
$b-error: #ff2d2d;

$bg-primary: #2c8eff;
$bg-secondary: #ebebeb;
$bg-light: #f1f1f1;
$bg-dark: #1e1e1e;
$bg-success: #0f3;
$bg-error: #ff2d2d;
$bg-main: #fff;

$xs: 380px;
$sm: 560px;
$smd: 780px;
$md: 1000px;
$slg: 1025px;
$lg: 1275px;
$xlg: 1370px;
$xxlg: 1445px;
$xxxlg: 1925px;

$header-height: 4rem;
$footer-height: 4rem;

$grad-1: linear-gradient(180deg, rgba(44,142,255,1) 0%, rgba(44,142,255,1) 10%, rgba(87,162,249,1) 47%, rgba(44,142,255,1) 90%, rgba(44,142,255,1) 100%);

$z-10: 100;